* {
    text-align: center;
}
/* Текст не выровнялся по центру, как это исправить*/
 
.picture {
    float: left;
    width: 50%;
    margin: auto;
    /*    float: left; не получается делать, тег занимает всю площадь экрана, не смотря на мои указания*/
}

.span{
    float: left;
    /* Почему не получается выровнять блоки по горизонтали, я вроде все правильно написала*/
}
/*Тут где-то нужно использовать clearfix?*/