
.picture {
    float: left;
    width: 200px;
    margin: auto;
}

.span {
    float: left;
}

.div{
    float: left;
    width: 300px;
    text-align: center;
    /*Я хочу, чтобы два последних дива были выровняны по горизонтали, но что не так?/
}
/*Тут где-то нужно использовать clearfix?*/